.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #fa0;
}

.button-link:hover {
  color: #ffffff;
  background-color: #fcab55;
}
