.banner-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 16px;
}

.banner-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 265px;
  margin-bottom: 24px;
  margin-right: 24px;
  padding: 20px 10px;
  border: 1px solid #224580;
  border-radius: 8px;
  background-color: #717478;
  font-weight: bold;
  color: #ffffff;
}

.banner-card--wide {
  flex-direction: row;
  width: 100%;
}

.banner-card__wave {
  position: absolute;
  top: -10px;
  right: -20px;
}

.banner-card__wave-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-60%);
}

.banner-card__title {
  align-self: center;
  margin: 38px 0 24px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.banner-card__buttons-wrapper {
  display: flex;
  justify-content: space-around;
}

.banner-card--wide .banner-card__buttons-wrapper {
  align-self: center;
}

.banner-card__button {
  min-width: 150px;
  padding: 10px 8px;
  border: 1px solid #018749;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.banner-card__button--blue {
  background-color: #ffaa00;
  color: #ffffff;
}

.banner-card__button:hover {
  color: #ffffff;
  background-color: #fcab55;
}

@media (min-width: 767px) {
  .banner-card--wide {
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .banner-card-container {
    justify-content: flex-start;
    padding-left: 160px;
  }
}
