p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.opacity-hidden {
  opacity: 0;
}

.news-gradient {
  background: linear-gradient(180deg, #f5c99a 0%, #cec29b 50%, #6ac2cb 100%);
}

/* flex-styles */

.dflex {
  display: flex;
}

.dflex-wrap {
  flex-wrap: wrap;
}

.f-column {
  flex-direction: column;
}

.f-just-end {
  justify-content: end;
}

.f-just-center {
  justify-content: center;
}

.f-just-between {
  justify-content: space-between;
}

.f-just-around {
  justify-content: space-around;
}

.f-items-center {
  align-items: center;
}

.f-sh-0 {
  flex-shrink: 0;
}

.sm-hidden {
  display: none;
}

.xl2-hidden {
  display: none;
}

.flex-margin-container {
  flex-wrap: wrap;
}

.flex-margin + .flex-margin {
  margin-top: 12px;
}

/*  Fix schedule tables colors */
table td.fr-blue,
table th.fr-blue {
  border: 1px double #2196f3 !important;
}

.bg-color-main {
  /* background-color: #00bfff; */
  background-color: #ffaa00;
}

.hov-color-main:hover {
  /* color: #fcab55; */
  color: #eeeeee;
}

.hov-bg-main:hover {
  background-color: #fcab55;
}

@media (min-width: 640px) {
  .sm-hidden {
    display: block;
  }

  .flex-margin-container {
    flex-wrap: nowrap;
  }

  .flex-margin + .flex-margin {
    margin-top: 0;
    margin-left: 12px;
  }
}

@media (min-width: 1536px) {
  .xl2-hidden {
    display: block;
  }
}
