p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.opacity-hidden {
  opacity: 0;
}

.news-gradient {
  background: linear-gradient(180deg, #f5c99a 0%, #cec29b 50%, #6ac2cb 100%);
}

/* flex-styles */

.dflex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.f-just-end {
  justify-content: end;
}

.f-just-center {
  justify-content: center;
}

.f-just-between {
  justify-content: space-between;
}

.f-just-around {
  justify-content: space-around;
}

.f-items-center {
  align-items: center;
}

.f-sh-0 {
  flex-shrink: 0;
}

.sm-hidden {
  display: none;
}

@media (min-width: 640px) {
  .sm-hidden {
    display: block;
  }
}
